{% extends 'navbar.html' %}
{% block content %}
<table border="0" id="contact" width="100%" cellpadding="0" cellspacing="0" bgcolor="#292929">
    <tr>
         <td>
             <table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
             <!-- Heading Start-->
            <tr>
                   <td height="160" align="center" valign="middle">
                        <font face="arial" size="6" color=" #f3971b">
                          Contact
                       </font>
                       <hr width="70" color="#f3971b">
                   </td>
            </tr>
          <!-- Heading  End-->
          <tr>
              <td align="center" valign="top">
                <table border="0" width="55%" cellpadding="20" cellspacing="0" align="center" bgcolor="#353535">
                    <tr>
                        <td>
                            <form action="contact" method="post">
                                {% csrf_token %}
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                   <tr>
                       <td width="30%">
                           <font face="arial" size="4" color="#ffffff">
                            Name
                           </font>
                           
                      </td>
                      <td width="70%">
                          <input type="text" name="name" placeholder="e.g. Koushal" size="50">
                      </td>
                   </tr>
                   <tr>
                       <td width="30%">
                           <font face="arial" size="4" color="#ffffff">
                            Email
                           </font>
                           
                      </td>
                      <td width="70%">
                          <input type="text" name="email" placeholder="e.g. alokd6394@gmail.com" size="50">
                      </td>
                   </tr>
                   <tr>
                       <td width="30%">
                           <font face="arial" size="4" color="#ffffff">
                            Subject
                           </font>
                           
                      </td>
                      <td width="70%">
                          <input type="text"  name="subject" placeholder="Write Issue " size="50">
                      </td>
                   </tr>
  
                   <tr>
                       <td width="30%">
                           <font face="arial" size="4" color="#ffffff">
                            Query
                           </font>
                           
                      </td>
                      <td width="70%">
                          <textarea cols="51" rows="4"  name="query" placeholder="Describe Issue"></textarea>
                      </td>
                   </tr>
                   <tr>
                       <td width="30%">
                           &nbsp;
                      </td>
                      <td width="70%">
                          
                              <button type="submit">
                              <font size="5" face="arial">Send Message</font>

                            </button>
                        </td>
                   </tr>
                   {% if submitted %}
                   <tr>
                      <div class="text-bg-success p-3">{{submitted}}</div>
                   </tr> 
                     {% endif %}
  
                 </table>
                 </form>
              </td>
          </tr>
      </table>
              </td>
          </tr>
          <!-- section padding bottom -->
             <tr>
                   <td height="60">
                   
                   </td>
             </tr>
            <!-- section padding bottom End-->
         </table>
        </td>
      </tr>
  </table>
  {% endblock %}